### 튜플이나 리스트를 순회할 때

In [1]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [2]:
for a, b, c in seq:
    print("a = {0}, b = {1}, c = {2}".format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

### *rest 함수, *_

In [1]:
values = 1, 2, 3, 4, 5

In [4]:
a, b, *rest = values

In [5]:
a, b

(1, 2)

In [6]:
rest

[3, 4, 5]

In [2]:
# 불필요한 변수라는 것을 나타내기 위해 _를 사용하기도 함
a, b, *_ = values

In [3]:
a, b

(1, 2)

### 리스트 이어 붙이기.

In [6]:


x = [4, None, "foo"] + [7, 8, (2, 3)]

+ 보다 extend를 활용하자!!!

In [8]:
x.extend([7, 8, (2, 3)])

#ex) 위의 코드가 훨씬 좋다

everything = []

for chunk in list_of_list:
    everything.extend(chunk)
    
---
everything = []
for chunk in list_of_lists:
    everything = everything + chunk

### sort 팁! (key=len)

In [10]:
b = ["saw", "small", "He", "foxes", "six"]

b.sort(key=len)

In [11]:
b

['He', 'saw', 'six', 'small', 'foxes']

### enumerate, 딕셔너리로 간편하게 묶어줄 때

In [6]:
for i, name in enumerate(["body", "foo", "bar"]):
    print(i, name)

0 body
1 foo
2 bar

In [12]:
some_list = ["foo", "bar", "baz"]
mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i

In [13]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

### zip , 여러개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어, 튜플리스트 생성

In [14]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [15]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [34]:
# 순차 자료형 묶기

mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [17]:
#zip 함수를 사용해서, 짝지어진 순차 자료형을 다시 푸는것도 가능

pitchers = [("Nolan", "Ryan"), ("Roger", "Clemnes"), ("Schilling", "Curt")]
first_names, last_names = zip(*pitchers)

In [18]:
first_names, last_names

(('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemnes', 'Curt'))

### Reversed

In [19]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict (update)

In [20]:
d1 = {"a": 1}

In [23]:
d2 = {"b": 2}

In [24]:
d1.update(d2)

In [25]:
d1

{'a': 1, 'b': 2}

### Dict 예제

In [ ]:
words = ["apple", "bat", "bar", "atom", "book"]

#다음과 같이 알파벳 순서대로 묶으세용
# {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [39]:
by_letter ={}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
        
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [42]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [44]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

### 유효한 사전 키

- 변하지 않는 사전 키 이므로, 해시 가능해야 한다는 뜻이다.

In [45]:
# 가능한 예시
hash((1, 2, (2, 3)))

1097636502276347782

In [46]:
# 불가능한 예시
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

### map

In [4]:
def two_times(x):
    return x*2

list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

### list comprehension

In [1]:
strings = ["a", "as", "bat", "car", "dove", "python"]

a =[x.upper() for x in strings if len(x) > 2]
a

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [3]:
list(map(len, strings))

[1, 2, 3, 3, 4, 6]

In [5]:
loc_mapping = {val: index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

### 2중 list comprehension

In [ ]:
# e가 2개이상 들어간 이름찾기

In [1]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"], \
            ["Maria", "juan", ":Javier", "Natalia", "Pilar"]]

In [2]:
result = [name for names in all_data \
          for name in names if name.count("e") >= 2]

result

['Steven']

In [4]:
# 2중리스트 하나의 리스트로 만들기
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]