In [6]:
#1
x = [4, None, "foo"], extend를 사용하여 다음과 같이 늘리시오

[4, None, 'foo', 7, 8, (2, 3)]

In [8]:
x = [4, None, "foo"]
a = [7, 8, (2, 3)]
x.extend(a)
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
#2
["body", "foo", "bar"] 를 enumerate로 묶으시오

In [9]:
for i, v in enumerate(["body", "foo", "bar"]):
    print(i, v)

0 body
1 foo
2 bar

In [10]:
# 2.1 dict 형태로 묶으시오
a = ["body", "foo", "bar"]
mapping = {}

for i, v in enumerate(a):
    mapping[i] = v
mapping

{0: 'body', 1: 'foo', 2: 'bar'}

In [12]:
#3 zip을 사용해서 다음 2개를 딕셔너리형태로 묶으시오
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]

In [15]:
zipped = dict(zip(seq1, seq2))
zipped

{'foo': 'one', 'bar': 'two', 'baz': 'three'}

In [16]:
#3.1 다음을 First_name, Last_name으로 나누시오
pitchers = [("Nolan", "Ryan"), ("Roger", "Clemnes"), ("Schilling", "Curt")]

In [18]:
First_name, Last_name = zip(*pitchers)
First_name, Last_name

(('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemnes', 'Curt'))

In [21]:
#3.2 알파벳별로 묶으시오(3가지 방법)
words = ["apple", "bat", "bar", "atom", "book"]

In [27]:
%time
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.96 µs

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [29]:
%time
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.96 µs

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [30]:
%time

from collections import defaultdict
by_letter =defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.15 µs

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [31]:
#4 map사용해서 다음 list를 2배하시오
a = [1, 2, 3, 4]

In [32]:
def two_times(x):
    return x * 2
list(map(two_times, a))

[2, 4, 6, 8]

In [34]:
#5 길이가 2글자인 문자들을 모두 대문자로 바꾸어 출력 (list comprehension)
strings = ["a", "as", "bat", "car", "dove", "python"]

In [35]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [36]:
#5.1 다음과 같이 value:index로 만들어 출력하세요
strings = ["a", "as", "bat", "car", "dove", "python"]

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [38]:
{val: index for index, val in enumerate(strings)}

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [39]:
# 6 2중list comprehension. "a"가 2개이상 들어간것 찾고 모두 소문자로
all_data = [["John", "Emily", "Michael", "Mary", "Steven"], \
            ["Maria", "juan", ":Javier", "Natalia", "Pilar"]]

In [43]:
[data.lower() for datas in all_data for data in datas if data.count("a") >= 2]

['maria', 'natalia']

In [44]:
#6.1 하나의 리스트로 만드시오
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [46]:
[x for xs in some_tuples for x in xs]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
#7. 데이터 구분 (states를 올바르게 변환)[3가지 방법]
states = ["Alabama", "Georgia!", "Georgia", "georgia",\
          "Fl0rIda", "southcarolina##", "West virginia?"]

In [48]:
# method1
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'Southcarolina',
 'West Virginia']

In [49]:
#method 2

def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'Southcarolina',
 'West Virginia']

In [60]:
#method 3
def remove_punctuation(value):

    return re.sub("[!#?]", "", value)

for x in map(remove_punctuation, states):
    print(x)

Alabama
Georgia
Georgia
georgia
Fl0rIda
southcarolina
West virginia

In [ ]:
#8 람다 (3을 넣으면 6나오도록 람다 사용)
equiv_anon(3) 
>>> 6

In [64]:
def short_function(x):
    return x * 2
equiv_anon = lambda x: short_function(x)
equiv_anon(3)

6

In [66]:
#8.1 set, len으로 정렬
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [68]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [83]:
#9 y,z만 빼내서 사용하기 (2가지 방법)
def add_numbers(x, y, z, t):
    return x + y + 2*z + t

In [75]:
add_five = lambda y,z: add_numbers(5, y, z)
add_five(10,1)

17

In [84]:
from functools import partial
#한마디로 x를 6으로 바꾼다는 뜻이구나!!!
add_six = partial(add_numbers, 6)
#5에는 z가 들어가네 흠?
add_six(20,5,1)

37

In [ ]:
#10 제너레이터 (return 대신 yield사용, iterator 대신 허락맡고 다음것)

In [85]:
def squares(n = 10):
    print("Generatring squares from 1 to {0}".format(n**2))
    for i in range(1, n+1):
        yield i ** 2

In [86]:
gen = squares()
gen

In [88]:
print(next(gen))

Generatring squares from 1 to 100
1

In [1]:
#11 itertools 모듈 (itertools 사용하여 알파벳순으로 묶어보세요)
import itertools
first_letter = lambda x: x[0]
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

In [5]:
for i, v in itertools.groupby(names, first_letter):
    print(i, list(v))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [ ]:
### 에러와 예외 처리
#튜플로 에러종류 여러게 묶는것도 가능
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
#try 관계없이 finally는 무조건적으로 실행이 된당
f = open(path, "w")

try:
    write_to_file(f)
finally:
    f.close()