In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
#5.1.1 pd.Series로 다음와 같이 만드시오

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

In [3]:
#5.1.2 pd.Series로 다음과 같이 만드시오

d    4
b    7
a   -5
c    3
dtype: int64

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index = ["d", "b", "a", "c"])
obj2

In [5]:
#5.1.3 Dict => pd.Series로 하시오
sdata = {"Ohio": 35000, "Texas": 71000, \
         "Oregon": 16000, "Utah": 5000}

In [6]:
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64