In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [45]:
sdata = {"Ohio": 35000, "Texas": 71000, \
         "Oregon": 16000, "Utah": 5000} 
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [46]:
# 사전 객체만 가지고 Series 객체를 생성하면 Series객체의 색인에는 사전의 키값이 순서대로 들어간다.
states = ["California", "Ohio", "Oregon", "Texas"]
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [48]:
obj4.name = "population"

In [50]:
obj4.index.name = "state"

In [51]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [53]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", \
                   "Nevada", "Nevada"],\
       "year": [2000, 2001, 2002, 2001, 2002, 2003],\
       "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

In [54]:
frame

   states  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [55]:

pd.DataFrame(data, columns=["year", "state", "pop"])

   year state  pop
0  2000   NaN  1.5
1  2001   NaN  1.7
2  2002   NaN  3.6
3  2001   NaN  2.4
4  2002   NaN  2.9
5  2003   NaN  3.2

In [56]:
x = [1, 2, 3]

In [57]:
x[:-1]

[1, 2]