In [38]:
for i, name in enumerate(["body", "foo", "bar"]):
    print(i, name)

0 body
1 foo
2 bar

In [46]:
some_list = ["foo", "bar", "baz"]
mapping = {}

In [40]:
for i,v in enumerate(some_list):
    mapping[i] = v

In [47]:
for v,i in enumerate(some_list):
    mapping[i] = v

In [48]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [52]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]

zipped = zip(seq1, seq2)
dict(zipped)

{'foo': 'one', 'bar': 'two', 'baz': 'three'}

In [61]:
mapping = list(zip(range(5), reversed(range(5))))
mapping

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]

In [62]:
a, b =zip(*mapping)

In [63]:
a,b

((0, 1, 2, 3, 4), (4, 3, 2, 1, 0))

In [66]:
d1 = {"a" : 1}
d2 = {"b" : 2, "c" : 3}
d1.update(d2)
d1

{'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

In [67]:
words = ["apple", "bat", "bar", "atom", "book"]

In [68]:
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [69]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [71]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [72]:
def two_times(x):
    return x * 5

list(map(two_times, [1, 2, 3, 4]))

[5, 10, 15, 20]

In [76]:
strings = ["a", "as", "bat", "car", "dove", "python"]

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [77]:
list(map(len, strings))

[1, 2, 3, 3, 4, 6]

In [82]:
strings

['a', 'as', 'bat', 'car', 'dove', 'python']

0 a
1 as
2 bat
3 car
4 dove
5 python

In [92]:
loc_mapping = {v:i for i,v in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [93]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"], \
            ["Maria", "juan", ":Javier", "Natalia", "Pilar"]]

In [96]:
result = [name for names in all_data for name in names if name.count("a") >=2]
result

['Maria', 'Natalia']

In [98]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [flat for flats in some_tuples for flat in flats]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
states = ["Alabama", "Georgia!", "Georgia", "georgia",\
          "Fl0rIda", "southcarolina##", "West virginia?"]

import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
        
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'Southcarolina',
 'West Virginia']

In [1]:
import numpy as np

In [2]:
a = np.arange(100)

In [3]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [4]:
b = list(range(100))
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]