In [1]:
seq = (1, 2, 3), (4, 5, 6), (7, 8, 9)

In [2]:
for a, b, c in seq:
    print(a)

1
4
7

In [12]:
a = [(1, 2), (4, 5)]

In [13]:
for i,j in a:
    print(i,j)

1 2
4 5

In [14]:
some_list = ["foo", "bar", "baz"]
mapping = {}

In [31]:
for i, v in enumerate(some_list):
    mapping[i] = v

In [33]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]

zipped = zip(seq1, seq2)

In [36]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [37]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [44]:
mapping = list(mapping)
mapping2 = [10,9,8,7,6]
zipped = list(zip(mapping, mapping2))

In [45]:
zipped

[(0, 10), (1, 9), (2, 8), (3, 7), (4, 6)]

In [47]:
first_num, second_num = zip(*zipped)

In [48]:
first_num

(0, 1, 2, 3, 4)

In [49]:
second_num

(10, 9, 8, 7, 6)

In [50]:
words = ["apple", "bat", "bar", "atom", "book"]

#다음과 같이 알파벳 순서대로 묶으세용
# {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [51]:
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [52]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [53]:

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [55]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [57]:
strings = ["a", "as", "bat", "car", "dove", "python"]

a =[x.upper() for x in strings if len(x) > 2]

In [58]:
a

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [93]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"], \
            ["Maria", "juan", ":Javier", "Natalia", "Pilar"]]

In [67]:
result = [name for names in all_data \
          for name in names if name.count("e") >= 2]

result

['Steven']

In [77]:
names_of_interst = []
for names in all_data:
    enough_es = [name for name in names if name.count("e") >= 2]
    names_of_interst.extend(enough_es)

In [79]:
names_of_interst

['Steven']

In [80]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [99]:
a = [x for x in some_tuples]
a

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

(7, 8, 9)

In [1]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [5]:
a, b, c = f()

In [6]:
a

5

In [9]:
f??

In [10]:
states = ["Alabama", "Georgia!", "Georgia", "georgia",\
          "Fl0rIda", "southcarolina##", "West virginia?"]

In [15]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [16]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Fl0Rida',
 'Southcarolina',
 'West Virginia']

In [26]:
def add_numbers(x, y, z):
    return x + y + z

add_five = lambda y,z: add_numbers(5, y, z)

In [27]:
add_five(11,1)

17